 .u-section-1 {
  background-image: url("images/c781f65dbfb5bcef264a7fea68d79ce01cafa8521919c9b32f0337982d071df984efc278e913271883a132eaaeaf94ba0d51c227603391a47e8b4d_1280.jpg");
  background-position: 50% 22.46%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-weight: 800;
  font-size: 6rem;
  margin: 55px auto 60px 91px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 28px;
    margin-left: 0;
  }
} .u-section-2 {
  min-height: 203px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  width: 309px;
  margin: 74px calc(((100% - 1140px) / 2) + 416px) 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 74px;
  margin-bottom: 0;
  border-style: dotted;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 316px);
    margin-right: calc(((100% - 940px) / 2) + 316px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 206px);
    margin-right: calc(((100% - 720px) / 2) + 206px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 116px);
    margin-right: calc(((100% - 540px) / 2) + 116px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 176px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: 70px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 399px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 765px;
  margin: 40px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 331px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: 12px 0 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.25rem;
  margin: 3px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.625rem;
  margin: 15px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 5px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 331px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 800;
  font-size: 1.25rem;
  margin: 5px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 0.625rem;
  margin: 13px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 4px 19px 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 329px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 4px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 0.625rem;
  margin: 13px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-3 .u-text-3 {
    width: 171px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-3 .u-text-6 {
    width: 171px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-3 .u-text-9 {
    width: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    width: 160px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    width: 160px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 4px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-9 {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 212px;
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 3px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -11px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 263px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
} .u-section-4 {
  min-height: 168px;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
  border-style: dotted;
}

.u-section-4 .u-social-icons-1 {
  height: 30px;
  min-height: 16px;
  width: 310px;
  min-width: 198px;
  margin: 66px auto 60px calc(((100% - 1140px) / 2) + 415px);
}

.u-section-4 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-4 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-4 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-4 .u-icon-5 {
  height: 100%;
  color: rgb(255, 153, 17) !important;
}

.u-section-4 .u-icon-6 {
  height: 100%;
  color: rgb(66, 171, 240) !important;
}

.u-section-4 .u-icon-7 {
  height: 100%;
  color: rgb(115, 96, 242) !important;
}

.u-section-4 .u-icon-8 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}