 .u-section-1 {
  background-image: url("images/1fcaf65d18ceed70f48d1bd8d6e30aa647a25575be255cfe583b6dbb6f871b0688856da23bf0c084a84ad207ad6afc61c5364f3ca49ecb1ce99ba1_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 54.17% 33.42%;
    background-size: auto 210%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 435px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 33px auto 0 calc(((100% - 1140px) / 2) + 445px);
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1056px;
  margin: 33px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 46.6667px) calc(33.3333% - 46.6667px) calc(33.3333% - 46.6667px);
  min-height: 272px;
  grid-gap: 70px 70px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 31px 21px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 8px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 16px 7px 0 3px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  background-image: none;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 22px auto 0;
  padding: 17px 58px 17px 57px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 31px 21px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 8px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 16px 7px 0 3px;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  background-image: none;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 22px auto 0;
  padding: 17px 58px 17px 57px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 31px 21px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 8px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 16px 7px 0 3px;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  background-image: none;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 22px auto 0;
  padding: 17px 58px 17px 57px;
}

.u-section-2 .u-line-1 {
  transform-origin: right center 0px;
  border-style: dotted;
  margin-top: 42px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 367px);
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 46.6667px));
    min-height: 242px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 281px);
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 35.000025px));
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 211px);
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 133px);
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  min-height: 530px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 75px calc(((100% - 1140px) / 2) + 357px) 0 calc(((100% - 1140px) / 2) + 661px);
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -48px calc(((100% - 1140px) / 2) + 491px) 0 calc(((100% - 1140px) / 2) + 519px);
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -48px calc(((100% - 1140px) / 2) + 631px) 0 calc(((100% - 1140px) / 2) + 380px);
}

.u-section-3 .u-list-1 {
  width: 118px;
  margin: 10px auto 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 345px;
  grid-template-columns: 100%;
  grid-gap: 34px 34px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-list-2 {
  width: 118px;
  margin: -345px calc(((100% - 1140px) / 2) + 367px) 0 auto;
}

.u-section-3 .u-repeater-2 {
  min-height: 345px;
  grid-template-columns: 100%;
  grid-gap: 34px 34px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-list-3 {
  width: 118px;
  margin: -347px auto 0 calc(((100% - 1140px) / 2) + 367px);
}

.u-section-3 .u-repeater-3 {
  min-height: 345px;
  grid-template-columns: 100%;
  grid-gap: 34px 34px;
}

.u-section-3 .u-container-layout-11 {
  padding: 0 10px;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 13px auto 0 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 10px;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 13px auto 0 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 0 10px;
}

.u-section-3 .u-text-16 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 13px auto 0 0;
}

.u-section-3 .u-container-layout-14 {
  padding: 0 10px;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 13px auto 0 0;
}

.u-section-3 .u-container-layout-15 {
  padding: 0 10px;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 13px auto 0 0;
}

.u-section-3 .u-line-1 {
  margin-top: 50px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  border-style: dotted;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 257px);
    margin-left: calc(((100% - 940px) / 2) + 561px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 391px);
    margin-left: calc(((100% - 940px) / 2) + 419px);
    width: 130px;
  }

  .u-section-3 .u-text-3 {
    width: 130px;
    margin-top: -24px;
    margin-left: calc(((100% - 940px) / 2) + 280px);
    margin-right: calc(((100% - 940px) / 2) + 531px);
  }

  .u-section-3 .u-list-1 {
    margin-top: 14px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 367px);
  }

  .u-section-3 .u-list-3 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2) + 367px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 147px);
    margin-left: calc(((100% - 720px) / 2) + 451px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 281px);
    margin-left: calc(((100% - 720px) / 2) + 309px);
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 170px);
    margin-right: calc(((100% - 720px) / 2) + 421px);
  }

  .u-section-3 .u-list-2 {
    margin-right: calc(((100% - 720px) / 2) + 367px);
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
  }

  .u-section-3 .u-list-3 {
    margin-left: calc(((100% - 720px) / 2) + 367px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 57px);
    margin-left: calc(((100% - 540px) / 2) + 361px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 191px);
    margin-left: calc(((100% - 540px) / 2) + 219px);
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + 80px);
    margin-right: calc(((100% - 540px) / 2) + 331px);
  }

  .u-section-3 .u-list-2 {
    margin-right: calc(((100% - 540px) / 2) + 367px);
  }

  .u-section-3 .u-list-3 {
    margin-left: calc(((100% - 540px) / 2) + 367px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 218px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 210px);
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2) + 211px);
  }

  .u-section-3 .u-list-2 {
    margin-right: calc(((100% - 340px) / 2) + 222px);
  }

  .u-section-3 .u-list-3 {
    margin-left: calc(((100% - 340px) / 2) + 222px);
  }

  .u-section-3 .u-container-layout-11 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
  }

  .u-section-3 .u-container-layout-12 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-15 {
    width: auto;
  }

  .u-section-3 .u-container-layout-13 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
  }

  .u-section-3 .u-container-layout-14 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-17 {
    width: auto;
  }

  .u-section-3 .u-container-layout-15 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-18 {
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 824px;
}

.u-section-4 .u-list-1 {
  width: 98px;
  margin: 37px auto 0 147px;
}

.u-section-4 .u-repeater-1 {
  min-height: 29px;
  grid-template-columns: 100%;
  grid-gap: 52.7346px 52.7346px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 5px 0 0 20px;
}

.u-section-4 .u-icon-1 {
  width: 24px;
  height: 24px;
  margin: -24px 151px 0 auto;
  padding: 0;
}

.u-section-4 .u-line-1 {
  width: 837px;
  transform-origin: left center 0px;
  border-style: dashed;
  margin: 13px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 13px auto 0 150px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: -19px auto 0 500px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: -19px 325px 0 auto;
}

.u-section-4 .u-table-1 {
  width: 254px;
  margin: 0 151px 0 auto;
}

.u-block-44fd-118 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-body-1 {
  font-size: 0.75rem;
}

.u-section-4 .u-table-cell-1 {
  background-image: none;
}

.u-section-4 .u-table-cell-2 {
  background-image: none;
}

.u-section-4 .u-table-cell-3 {
  background-image: none;
}

.u-section-4 .u-table-cell-4 {
  background-image: none;
}

.u-section-4 .u-table-cell-5 {
  background-image: none;
}

.u-section-4 .u-table-cell-6 {
  background-image: none;
}

.u-section-4 .u-table-cell-7 {
  background-image: none;
}

.u-section-4 .u-table-cell-8 {
  background-image: none;
}

.u-section-4 .u-table-cell-9 {
  background-image: none;
}

.u-section-4 .u-table-cell-10 {
  background-image: none;
}

.u-section-4 .u-table-cell-11 {
  background-image: none;
}

.u-section-4 .u-table-cell-12 {
  background-image: none;
}

.u-section-4 .u-group-1 {
  width: 432px;
  min-height: 273px;
  height: auto;
  margin: -267px auto 0 138px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-table-2 {
  width: 296px;
  margin: 20px auto 0 12px;
}

.u-block-44fd-43 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-body-2 {
  font-size: 0.75rem;
}

.u-section-4 .u-table-cell-13 {
  background-image: none;
}

.u-section-4 .u-table-cell-14 {
  background-image: none;
}

.u-section-4 .u-table-cell-15 {
  background-image: none;
}

.u-section-4 .u-table-cell-16 {
  background-image: none;
}

.u-section-4 .u-table-cell-17 {
  background-image: none;
}

.u-section-4 .u-table-cell-18 {
  background-image: none;
}

.u-section-4 .u-table-cell-19 {
  background-image: none;
}

.u-section-4 .u-table-cell-20 {
  background-image: none;
}

.u-section-4 .u-table-cell-21 {
  background-image: none;
}

.u-section-4 .u-table-cell-22 {
  background-image: none;
}

.u-section-4 .u-table-3 {
  width: 258px;
  margin: -207px -146px 0 auto;
}

.u-block-44fd-91 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-body-3 {
  font-size: 0.75rem;
}

.u-section-4 .u-table-cell-23 {
  background-image: none;
}

.u-section-4 .u-table-cell-24 {
  background-image: none;
}

.u-section-4 .u-table-cell-25 {
  background-image: none;
}

.u-section-4 .u-table-cell-26 {
  background-image: none;
}

.u-section-4 .u-table-cell-27 {
  background-image: none;
}

.u-section-4 .u-table-cell-28 {
  background-image: none;
}

.u-section-4 .u-table-cell-29 {
  background-image: none;
}

.u-section-4 .u-table-cell-30 {
  background-image: none;
}

.u-section-4 .u-table-cell-31 {
  background-image: none;
}

.u-section-4 .u-table-cell-32 {
  background-image: none;
}

.u-section-4 .u-table-cell-33 {
  background-image: none;
}

.u-section-4 .u-table-cell-34 {
  background-image: none;
}

.u-section-4 .u-line-2 {
  width: 846px;
  transform-origin: left center 0px;
  border-style: dashed;
  margin: 19px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 28px auto 0 150px;
}

.u-section-4 .u-image-1 {
  width: 353px;
  height: 352px;
  margin: 32px auto 0 266px;
}

.u-section-4 .u-image-2 {
  width: 352px;
  height: 352px;
  margin: -352px 178px 0 auto;
}

.u-section-4 .u-line-3 {
  transform-origin: right center 0px;
  border-style: dotted;
  width: 1240px;
  margin: 0 -50px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-3 {
    margin-left: 413px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 268px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-line-3 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 316px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 205px;
  }

  .u-section-4 .u-line-2 {
    width: 720px;
  }

  .u-section-4 .u-line-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 237px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 154px;
  }

  .u-section-4 .u-group-1 {
    margin-left: 108px;
  }

  .u-section-4 .u-line-2 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 187px;
  }

  .u-section-4 .u-line-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 95px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 149px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 97px;
  }

  .u-section-4 .u-table-1 {
    margin-right: 86px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-line-2 {
    width: 340px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 94px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 339px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -339px;
    margin-right: 0;
  }

  .u-section-4 .u-line-3 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 133px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  font-weight: 700;
  margin: 42px auto 0;
}

.u-section-5 .u-line-1 {
  margin-top: 38px;
  margin-bottom: 1px;
  transform-origin: left center 0px;
  border-style: dotted;
} .u-section-6 {
  min-height: 168px;
}

.u-section-6 .u-social-icons-1 {
  height: 30px;
  min-height: 16px;
  width: 310px;
  min-width: 198px;
  margin: 69px auto 60px calc(((100% - 1140px) / 2) + 415px);
}

.u-section-6 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-6 .u-icon-5 {
  height: 100%;
  color: rgb(255, 153, 17) !important;
}

.u-section-6 .u-icon-6 {
  height: 100%;
  color: rgb(66, 171, 240) !important;
}

.u-section-6 .u-icon-7 {
  height: 100%;
  color: rgb(115, 96, 242) !important;
}

.u-section-6 .u-icon-8 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}