 .u-section-1 {
  background-image: url("images/1fcaf65d18ceed70f48d1bd8d6e30aa647a25575be255cfe583b6dbb6f871b0688856da23bf0c084a84ad207ad6afc61c5364f3ca49ecb1ce99ba1_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 54.17% 33.42%;
    background-size: auto 210%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 200px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 59px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 63px;
  }
} .u-section-3 {
  min-height: 532px;
}

.u-section-3 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 0;
  margin-bottom: 0;
  border-style: dotted;
}

.u-section-3 .u-list-1 {
  width: 912px;
  margin: 14px auto 0 calc(((100% - 1140px) / 2) + 114px);
}

.u-section-3 .u-repeater-1 {
  min-height: 106px;
  grid-template-columns: calc(33.3333% - 153.333px) calc(33.3333% - 153.333px) calc(33.3333% - 153.333px);
  grid-gap: 230px 230px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 -14px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 -14px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 -14px 0 auto;
}

.u-section-3 .u-list-2 {
  width: 160px;
  margin: 17px auto 0;
}

.u-section-3 .u-repeater-2 {
  min-height: 345px;
  grid-template-columns: 100%;
  grid-gap: 34px 34px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-list-3 {
  width: 160px;
  margin: -345px calc(((100% - 1140px) / 2) + 105px) 0 auto;
}

.u-section-3 .u-repeater-3 {
  min-height: 345px;
  grid-template-columns: 100%;
  grid-gap: 34px 34px;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 0 10px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 10px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 0 10px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-list-4 {
  width: 160px;
  margin: -345px auto 0 calc(((100% - 1140px) / 2) + 114px);
}

.u-section-3 .u-repeater-4 {
  min-height: 345px;
  grid-template-columns: 100%;
  grid-gap: 34px 34px;
}

.u-section-3 .u-container-layout-14 {
  padding: 0 10px;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-15 {
  padding: 0 10px;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-16 {
  padding: 0 10px;
}

.u-section-3 .u-text-16 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-17 {
  padding: 0 10px;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-18 {
  padding: 0 10px;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-line-2 {
  margin-top: 44px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  border-style: dotted;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 715px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-list-2 {
    margin-right: calc(((100% - 940px) / 2) + 352px);
  }

  .u-section-3 .u-list-3 {
    margin-right: calc(((100% - 940px) / 2) + 38px);
  }

  .u-section-3 .u-list-4 {
    margin-left: calc(((100% - 940px) / 2) + 113px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 572px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 44px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 115px;
    grid-template-columns: calc(33.3333% - 77.3333px) calc(33.3333% - 77.3333px) calc(33.3333% - 77.3333px);
    grid-gap: 116px 116px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-list-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-3 .u-list-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
  }

  .u-section-3 .u-list-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-line-2 {
    margin-top: 60px;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 550px;
  }

  .u-section-3 .u-list-1 {
    width: 523px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    min-height: 102px;
  }

  .u-section-3 .u-list-2 {
    margin-right: calc(((100% - 540px) / 2) + 169px);
  }

  .u-section-3 .u-list-3 {
    margin-right: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-3 .u-list-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-line-2 {
    margin-top: 51px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1208px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 2px;
  }

  .u-section-3 .u-list-1 {
    width: 57px;
    margin-top: -3px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1021px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: -136px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: -136px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 40px;
    margin-right: -136px;
  }

  .u-section-3 .u-list-2 {
    margin-top: -600px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-3 {
    margin-top: 31px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-4 {
    margin-top: -1097px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-14 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
  }

  .u-section-3 .u-container-layout-15 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-15 {
    width: auto;
  }

  .u-section-3 .u-container-layout-16 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
  }

  .u-section-3 .u-container-layout-17 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-17 {
    width: auto;
  }

  .u-section-3 .u-container-layout-18 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-18 {
    width: auto;
  }

  .u-section-3 .u-line-2 {
    margin-top: 812px;
    margin-bottom: 2px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2064px;
}

.u-section-4 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 49px 66px 0 auto;
  padding: 0;
}

.u-section-4 .u-list-1 {
  width: 265px;
  margin: -44px auto 0 147px;
}

.u-section-4 .u-repeater-1 {
  min-height: 51px;
  grid-template-columns: 100%;
  grid-gap: 52.7346px 52.7346px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 5px 0 0 20px;
}

.u-section-4 .u-icon-2 {
  width: 33px;
  height: 33px;
  margin: -43px auto 0 84px;
  padding: 0;
}

.u-section-4 .u-line-1 {
  width: 1008px;
  transform-origin: left center 0px;
  border-style: dashed;
  margin: 54px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 40px auto 0 66px;
}

.u-section-4 .u-group-1 {
  width: 388px;
  min-height: 233px;
  height: auto;
  margin: 40px auto 0 74px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-table-1 {
  width: 384px;
  margin: 0 auto 0 0;
}

.u-block-44fd-43 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-1 {
  background-image: none;
}

.u-section-4 .u-table-cell-2 {
  background-image: none;
}

.u-section-4 .u-table-cell-3 {
  background-image: none;
}

.u-section-4 .u-table-cell-4 {
  background-image: none;
}

.u-section-4 .u-table-cell-5 {
  background-image: none;
}

.u-section-4 .u-table-cell-6 {
  background-image: none;
}

.u-section-4 .u-table-cell-7 {
  background-image: none;
}

.u-section-4 .u-table-cell-8 {
  background-image: none;
}

.u-section-4 .u-table-cell-9 {
  background-image: none;
}

.u-section-4 .u-table-cell-10 {
  background-image: none;
}

.u-section-4 .u-line-2 {
  width: 1008px;
  transform-origin: right center 0px;
  border-style: dashed;
  margin: 74px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 38px auto 0 66px;
}

.u-section-4 .u-table-2 {
  width: 384px;
  margin: 40px auto 0 74px;
}

.u-block-44fd-91 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-11 {
  background-image: none;
}

.u-section-4 .u-table-cell-12 {
  background-image: none;
}

.u-section-4 .u-table-cell-13 {
  background-image: none;
}

.u-section-4 .u-table-cell-14 {
  background-image: none;
}

.u-section-4 .u-table-cell-15 {
  background-image: none;
}

.u-section-4 .u-table-cell-16 {
  background-image: none;
}

.u-section-4 .u-table-cell-17 {
  background-image: none;
}

.u-section-4 .u-table-cell-18 {
  background-image: none;
}

.u-section-4 .u-table-cell-19 {
  background-image: none;
}

.u-section-4 .u-table-cell-20 {
  background-image: none;
}

.u-section-4 .u-table-cell-21 {
  background-image: none;
}

.u-section-4 .u-table-cell-22 {
  background-image: none;
}

.u-section-4 .u-line-3 {
  width: 1008px;
  transform-origin: right center 0px;
  border-style: dashed;
  margin: 74px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 40px auto 0 66px;
}

.u-section-4 .u-table-3 {
  width: 384px;
  margin: 41px auto 0 74px;
}

.u-block-44fd-118 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-23 {
  background-image: none;
}

.u-section-4 .u-table-cell-24 {
  background-image: none;
}

.u-section-4 .u-table-cell-25 {
  background-image: none;
}

.u-section-4 .u-table-cell-26 {
  background-image: none;
}

.u-section-4 .u-table-cell-27 {
  background-image: none;
}

.u-section-4 .u-table-cell-28 {
  background-image: none;
}

.u-section-4 .u-table-cell-29 {
  background-image: none;
}

.u-section-4 .u-table-cell-30 {
  background-image: none;
}

.u-section-4 .u-table-cell-31 {
  background-image: none;
}

.u-section-4 .u-table-cell-32 {
  background-image: none;
}

.u-section-4 .u-table-cell-33 {
  background-image: none;
}

.u-section-4 .u-table-cell-34 {
  background-image: none;
}

.u-section-4 .u-line-4 {
  width: 1008px;
  transform-origin: right center 0px;
  border-style: dashed;
  margin: 74px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 40px auto 0 66px;
}

.u-section-4 .u-image-1 {
  width: 352px;
  height: 352px;
  margin: 40px 147px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 353px;
  height: 352px;
  margin: -352px auto 60px 147px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2067px;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-table-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-line-2 {
    width: 940px;
  }

  .u-section-4 .u-line-3 {
    width: 940px;
  }

  .u-section-4 .u-line-4 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 118px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-icon-1 {
    margin-top: 50px;
    margin-right: 20px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -45px;
    margin-left: 78px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -42px;
    margin-left: 20px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 38px;
  }

  .u-section-4 .u-line-2 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 40px;
    margin-left: 38px;
  }

  .u-section-4 .u-table-2 {
    margin-top: 38px;
  }

  .u-section-4 .u-line-3 {
    width: 720px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 38px;
  }

  .u-section-4 .u-table-3 {
    margin-top: 40px;
  }

  .u-section-4 .u-line-4 {
    margin-top: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 38px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 42px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-left: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2375px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-table-1 {
    margin-bottom: -4px;
  }

  .u-section-4 .u-line-2 {
    width: 540px;
  }

  .u-section-4 .u-line-3 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 16px;
    margin-left: auto;
    margin-bottom: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2381px;
  }

  .u-section-4 .u-list-1 {
    margin-left: 75px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-table-1 {
    width: 340px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-line-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-table-2 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-3 {
    width: 340px;
    margin-top: 72px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-table-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 14px;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
    margin-top: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 339px;
    margin-top: -694px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: none;
  min-height: 133px;
}

.u-section-5 .u-line-1 {
  transform-origin: right center 0px;
  border-style: dotted;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  font-weight: 700;
  margin: 39px auto 0;
}

.u-section-5 .u-line-2 {
  margin-top: 38px;
  margin-bottom: 1px;
  transform-origin: left center 0px;
  border-style: dotted;
} .u-section-6 {
  min-height: 168px;
}

.u-section-6 .u-social-icons-1 {
  height: 30px;
  min-height: 16px;
  width: 310px;
  min-width: 198px;
  margin: 69px auto 60px calc(((100% - 1140px) / 2) + 415px);
}

.u-section-6 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-6 .u-icon-5 {
  height: 100%;
  color: rgb(255, 153, 17) !important;
}

.u-section-6 .u-icon-6 {
  height: 100%;
  color: rgb(66, 171, 240) !important;
}

.u-section-6 .u-icon-7 {
  height: 100%;
  color: rgb(115, 96, 242) !important;
}

.u-section-6 .u-icon-8 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}