 .u-section-1 {
  background-image: none;
  min-height: 700px;
}

.u-section-1 .u-image-1 {
  height: 500px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1056px;
  margin: -136px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 46.6667px) calc(33.3333% - 46.6667px) calc(33.3333% - 46.6667px);
  min-height: 272px;
  grid-gap: 70px 70px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 31px 21px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 8px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 16px 7px 0 3px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  background-image: none;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 22px auto 0;
  padding: 17px 58px 17px 57px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 31px 21px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 8px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 16px 7px 0 3px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  background-image: none;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 22px auto 0;
  padding: 17px 58px 17px 57px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 31px 21px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 8px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 16px 7px 0 3px;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  background-image: none;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 22px auto 0;
  padding: 17px 58px 17px 57px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 52px 52px;
    grid-template-columns: calc(33.3333% - 34.6667px) calc(33.3333% - 34.6667px) calc(33.3333% - 34.6667px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 25px;
    padding-right: 66px;
    padding-left: 64px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 25px;
    padding-right: 66px;
    padding-left: 64px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 833px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 295px;
    grid-gap: 44px 44px;
    grid-template-columns: calc(33.3333% - 29.3333px) calc(33.3333% - 29.3333px) calc(33.3333% - 29.3333px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 24px;
    padding-left: 23px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 13px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 24px;
    padding-left: 23px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 13px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 24px;
    padding-left: 23px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 852px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 333px;
    grid-gap: 4px 4px;
    grid-template-columns: calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 11px 13px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 15px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-2 {
    width: 136px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 11px 13px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 15px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-4 {
    width: 136px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 11px 13px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-right: 15px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-6 {
    width: 136px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1318px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 914px;
    grid-gap: 33px 33px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 212px;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 212px;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: 212px;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 152px;
}

.u-section-2 .u-line-1 {
  border-style: dotted;
  transform-origin: right center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  margin: 47px auto 0;
}

.u-section-2 .u-line-2 {
  margin-top: 50px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  border-style: dotted;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 200px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 218px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  line-height: 1.3;
  font-weight: 700;
  margin: 86px auto 0;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  border-style: dotted;
  width: 1236px;
  left: -215px;
  top: 217px;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-line-1 {
    width: 800px;
    margin: 85px auto -32px 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-table-1 {
  width: 800px;
  margin: 75px auto 0;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-4 .u-table-cell-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-3 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-4 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-body-1 {
  font-size: 0.75rem;
}

.u-section-4 .u-table-cell-5 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-6 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-7 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-9 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-10 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-11 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-13 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-14 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-15 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-17 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-18 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-19 {
  font-size: 1.25rem;
}

.u-block-baaf-35 {
  background-image: none;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: -84px 227px 0 auto;
  padding: 10px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: -411px 207px 0 auto;
  padding: 10px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 59px 207px 0 auto;
  padding: 10px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 48px 207px 60px auto;
  padding: 10px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1663px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-1 {
    width: 540px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 170px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 155px;
  }

  .u-section-4 .u-icon-3 {
    margin-right: 155px;
  }

  .u-section-4 .u-icon-4 {
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-1 {
    width: 340px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 107px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 98px;
  }

  .u-section-4 .u-icon-3 {
    margin-right: 98px;
  }

  .u-section-4 .u-icon-4 {
    margin-right: 98px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 200px;
}

.u-section-5 .u-line-1 {
  width: 1239px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin: 0 auto;
}

.u-section-5 .u-group-1 {
  width: 763px;
  min-height: 97px;
  height: auto;
  margin: 48px auto 51px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  line-height: 1.3;
  font-weight: 700;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-line-1 {
    width: 940px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    width: 720px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-line-1 {
    width: 540px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-line-1 {
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 152px;
  background-image: none;
}

.u-section-6 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: left center 0px;
  border-style: dotted;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 47px auto 0;
}

.u-section-6 .u-line-2 {
  margin-top: 50px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  border-style: dotted;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 848px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 312px 263px 0 auto;
  padding: 10px;
}

.u-section-7 .u-icon-2 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 56px 263px 0 auto;
  padding: 10px;
}

.u-section-7 .u-icon-3 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 50px 263px 0 auto;
  padding: 10px;
}

.u-section-7 .u-table-1 {
  width: 800px;
  margin: -439px auto 0;
}

.u-section-7 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-7 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-7 .u-table-cell-1 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-2 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-3 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-4 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-body-1 {
  font-size: 0.75rem;
}

.u-section-7 .u-table-cell-5 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-6 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-7 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-9 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-10 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-11 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-13 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-14 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-15 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-17 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-18 {
  font-size: 1.25rem;
}

.u-section-7 .u-table-cell-19 {
  font-size: 1.25rem;
}

.u-block-090e-35 {
  background-image: none;
}

.u-section-7 .u-icon-4 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: -85px 263px 60px auto;
  padding: 10px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 1663px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-icon-1 {
    margin-right: 201px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 201px;
  }

  .u-section-7 .u-icon-3 {
    margin-right: 201px;
  }

  .u-section-7 .u-table-1 {
    width: 720px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-icon-1 {
    margin-right: 151px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 151px;
  }

  .u-section-7 .u-icon-3 {
    margin-right: 151px;
  }

  .u-section-7 .u-table-1 {
    width: 540px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-7 .u-icon-1 {
    margin-right: 95px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 95px;
  }

  .u-section-7 .u-icon-3 {
    margin-right: 95px;
  }

  .u-section-7 .u-table-1 {
    width: 340px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 95px;
  }
} .u-section-8 {
  min-height: 179px;
}

.u-section-8 .u-line-1 {
  border-style: dotted;
  transform-origin: right center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-social-icons-1 {
  height: 30px;
  min-height: 16px;
  width: 310px;
  min-width: 198px;
  margin: 77px auto 60px calc(((100% - 1140px) / 2) + 415px);
}

.u-section-8 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-8 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-8 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-8 .u-icon-5 {
  height: 100%;
  color: rgb(255, 153, 17) !important;
}

.u-section-8 .u-icon-6 {
  height: 100%;
  color: rgb(66, 171, 240) !important;
}

.u-section-8 .u-icon-7 {
  height: 100%;
  color: rgb(115, 96, 242) !important;
}

.u-section-8 .u-icon-8 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}