 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/jtjtjtjuy-min.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 898px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 0.9;
  text-transform: uppercase;
  font-weight: 900;
  margin: 18px 558px 0 12px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: 162px 29px 35px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 425px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 86px;
  width: 86px;
  background-image: none;
  margin: 8px auto 0;
  padding: 21px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 86px;
  width: 86px;
  background-image: none;
  margin: 8px auto 0;
  padding: 21px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 86px;
  width: 86px;
  background-image: none;
  margin: 8px auto 0;
  padding: 21px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 86px;
  width: 86px;
  background-image: none;
  margin: 8px auto 0;
  padding: 21px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    width: auto;
    margin-right: 518px;
    margin-left: 19px;
  }

  .u-section-1 .u-list-1 {
    width: 489px;
    margin-top: 15px;
    margin-bottom: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 20px;
    margin-right: 191px;
    margin-left: 12px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 303px;
    margin-right: auto;
    margin-bottom: 53px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 24.5px) calc(50% - 24.5px);
    grid-gap: 49px 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
    margin-right: 40px;
    margin-left: 11px;
  }

  .u-section-1 .u-list-1 {
    width: 300px;
    margin-top: 281px;
    margin-bottom: 32px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 500px;
    grid-gap: 40px 40px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 200px;
    margin-top: 390px;
    margin-bottom: 42px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 642px;
    grid-gap: 30px 30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 7px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 7px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 7px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 12px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 7px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 730px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 70px 96px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  width: 680px;
  margin: 25px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 46px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 3px;
  padding: 18px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: -60px 0 0 94px;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 13px 0 0 94px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 16px 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 3px;
  padding: 18px;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: normal;
  margin: -60px 0 0 94px;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 13px 0 0 94px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 16px 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 3px;
  padding: 18px;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: normal;
  margin: -60px 0 0 94px;
}

.u-section-2 .u-text-8 {
  font-style: normal;
  margin: 13px 0 0 94px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 16px 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 3px;
  padding: 18px;
}

.u-section-2 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: normal;
  margin: -60px 0 0 94px;
}

.u-section-2 .u-text-10 {
  font-style: normal;
  margin: 13px 0 0 94px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 903px;
    margin-top: 112px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 13px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -46px;
    margin-right: 51px;
    margin-left: 82px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin: 7px 46px -9px 82px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 13px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -46px;
    margin-right: 51px;
    margin-left: 82px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin: 7px 46px -9px 82px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0 13px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -46px;
    margin-right: 51px;
    margin-left: 82px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin: 7px 46px -9px 82px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0 13px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -46px;
    margin-right: 51px;
    margin-left: 82px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin: 7px 46px -9px 82px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    font-size: 3rem;
  }

  .u-section-2 .u-list-1 {
    width: 100%;
    margin: 30px 0 50px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 500px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-1 {
    height: 46px;
    width: 46px;
    margin-top: 32px;
    margin-left: 11px;
    padding: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -37px;
    margin-right: 0;
    margin-left: 65px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 21px;
    margin-right: 36px;
    margin-left: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-2 {
    height: 46px;
    width: 46px;
    margin-top: 32px;
    margin-left: 11px;
    padding: 12px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -37px;
    margin-right: 0;
    margin-left: 65px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 21px;
    margin-right: 36px;
    margin-left: 65px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-3 {
    height: 46px;
    width: 46px;
    margin-top: 32px;
    margin-left: 11px;
    padding: 12px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -37px;
    margin-right: 0;
    margin-left: 65px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 21px;
    margin-right: 36px;
    margin-left: 65px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-4 {
    height: 46px;
    width: 46px;
    margin-top: 32px;
    margin-left: 11px;
    padding: 12px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -37px;
    margin-right: 0;
    margin-left: 65px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 21px;
    margin-right: 36px;
    margin-left: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 65px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 33px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-weight: 700;
    margin-top: -47px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    font-weight: 700;
    margin-top: -47px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 16px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    font-weight: 700;
    margin-top: -47px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 16px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    font-weight: 700;
    margin-top: -47px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 16px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 767px;
}

.u-section-3 .u-group-1 {
  width: 855px;
  background-image: none;
  min-height: 661px;
  margin: 67px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  width: 518px;
  min-height: 587px;
  margin: 44px auto 0 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 50px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 29px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  margin: 85px auto 0 0;
  padding: 11px 38px 12px;
}

.u-section-3 .u-image-1 {
  height: 400px;
  width: 623px;
  margin: -247px 68px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -213px;
    margin-bottom: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -158px;
    margin-right: -32px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 22px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 278px;
    width: 433px;
    margin-top: -112px;
    margin-right: -28px;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    min-height: 721px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    height: 218px;
    margin-top: 33px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 776px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 716px;
}

.u-section-4 .u-container-layout-1 {
  padding: 29px 0;
}

.u-section-4 .u-shape-1 {
  width: 320px;
  height: 320px;
  margin: 230px auto 0 -23px;
}

.u-section-4 .u-image-1 {
  width: 342px;
  height: 288px;
  margin: -500px -33px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 716px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 55px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 13px 0 0 11px;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  line-height: 1;
  background-image: none;
  font-weight: 600;
  margin: 6px 93px 0 7px;
}

.u-section-4 .u-text-3 {
  margin: 21px 5px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px auto 0 5px;
}

.u-section-4 .u-btn-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  margin: 30px auto 0 6px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 24px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 696px;
  }

  .u-section-4 .u-shape-1 {
    width: 237px;
    height: 237px;
    margin-right: 18px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: -461px;
    margin-right: -37px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 696px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 52px;
    padding-right: 52px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 30px;
    margin-left: 8px;
  }

  .u-section-4 .u-btn-1 {
    letter-spacing: 0px;
    border-style: solid;
    font-weight: 700;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 871px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 310px;
    margin-right: 24px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -432px;
    margin-right: -6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 871px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: 6px;
    margin-left: 54px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 6px;
    margin-left: 54px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 68px;
    margin-right: 365px;
    margin-left: -304px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -100px;
    margin-right: 24px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 88px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1385px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-4 .u-shape-1 {
    width: 355px;
    height: 355px;
    margin-top: 398px;
    margin-right: -41px;
  }

  .u-section-4 .u-image-1 {
    margin: -194px auto -199px 45px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 707px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -633px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 16px;
    margin-right: 130px;
    margin-left: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 445px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 45px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 488px;
  }

  .u-section-4 .u-shape-1 {
    width: 268px;
    height: 268px;
    margin-top: 146px;
    margin-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 243px;
    height: 205px;
    margin-top: -190px;
    margin-bottom: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -473px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 344px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 13px;
    margin-left: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 24px;
    margin-right: 10px;
    margin-bottom: -53px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 364px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 244px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 45px auto 0;
  padding: 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 244px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-5 .u-text-1 {
  font-weight: 500;
  margin: 29px 386px 0 1px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 19px 1px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 244px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 68px auto 0;
  padding: 15px 54px 16px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 201px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 1px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.375rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 36px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 47px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 168px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -37px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -167px;
    margin-bottom: -167px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 199px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 6px 9px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -20px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 118px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0 5px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 800;
    margin-top: -10px;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 26px;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 0;
    margin-bottom: -5px;
    margin-left: 67px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 962px;
}

.u-section-6 .u-group-1 {
  width: 861px;
  min-height: 777px;
  margin: 79px auto 60px 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 300px;
  height: 389px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 33px auto 0 30px;
}

.u-section-6 .u-image-2 {
  width: 300px;
  height: 398px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -187px auto 0 143px;
}

.u-section-6 .u-image-3 {
  width: 301px;
  height: 390px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -277px auto 0;
}

.u-section-6 .u-group-2 {
  width: 447px;
  min-height: 558px;
  margin: -793px -218px 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 8px 33px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 22px 33px 0;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  margin: 113px 0 0 auto;
  padding: 13px 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: 40px;
  }

  .u-section-6 .u-group-2 {
    width: 431px;
    min-height: 398px;
    margin-top: -809px;
    margin-right: -32px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-right: 86px;
    margin-left: 8px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 78px;
    margin-left: 15px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-6 .u-group-1 {
    min-height: 914px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-1 {
    margin-top: 356px;
    margin-left: 56px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -309px;
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    margin-top: -338px;
    margin-right: 48px;
  }

  .u-section-6 .u-group-2 {
    margin-top: -943px;
    margin-right: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-2 {
    min-height: 370px;
    margin-top: -940px;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 15px 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 8px;
    margin-right: 79px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-6 .u-group-1 {
    min-height: 616px;
    margin-top: 159px;
    margin-bottom: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    width: 150px;
    height: 200px;
    margin-top: 258px;
    margin-left: 34px;
  }

  .u-section-6 .u-image-2 {
    width: 150px;
    height: 200px;
    margin-top: -136px;
  }

  .u-section-6 .u-image-3 {
    width: 150px;
    height: 194px;
    margin-top: -134px;
    margin-right: 34px;
  }

  .u-section-6 .u-group-2 {
    width: 264px;
    min-height: 344px;
    margin-top: -705px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 34px;
    margin-right: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 970px;
}

.u-section-7 .u-shape-1 {
  width: 772px;
  height: 598px;
  background-image: none;
  margin: 238px 45px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 499px;
  object-position: 0% 38.08%;
  background-position: 0% 38.08%;
  height: 500px;
  margin: -691px auto 0 260px;
}

.u-section-7 .u-group-1 {
  width: 651px;
  min-height: 388px;
  background-image: none;
  height: auto;
  margin: -108px auto 45px 46px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-7 .u-text-1 {
  margin: 25px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 25px 0 0;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  margin: 31px auto 0 0;
  padding: 13px 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-7 .u-shape-1 {
    height: 501px;
    margin-top: 227px;
    margin-right: 25px;
  }

  .u-section-7 .u-image-1 {
    width: 808px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-7 .u-group-1 {
    margin-top: -151px;
    margin-bottom: 36px;
    margin-left: 15px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-7 .u-shape-1 {
    height: 433px;
    width: 604px;
    margin-top: 174px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 609px;
    height: 443px;
    margin-top: -564px;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    width: 552px;
    min-height: 413px;
    margin-top: -181px;
    margin-bottom: 31px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 10px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-7 .u-shape-1 {
    height: 344px;
    width: 459px;
    margin-top: 187px;
  }

  .u-section-7 .u-image-1 {
    object-position: 26.09% 38.08%;
    height: 339px;
    width: 460px;
    margin-top: -435px;
    margin-left: 0;
  }

  .u-section-7 .u-group-1 {
    width: 459px;
    margin-top: -153px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-7 .u-shape-1 {
    width: 247px;
    height: 159px;
    margin-top: 148px;
    margin-right: 12px;
  }

  .u-section-7 .u-image-1 {
    height: 182px;
    width: 261px;
    margin-top: -276px;
    margin-left: 12px;
  }

  .u-section-7 .u-group-1 {
    min-height: 550px;
    width: 291px;
    margin-top: 35px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 118px;
    margin-right: 20px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-8 .u-list-1 {
  margin: 43px auto 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(25% - 21.75px) calc(25% - 21.75px) calc(25% - 21.75px) calc(25% - 21.75px);
  min-height: 252px;
  grid-gap: 29px 29px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: 600;
  width: 209px;
  margin: 19px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-size: 1rem;
  margin: 32px 0 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  font-size: 1.375rem;
  width: 209px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px auto 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-5 {
  font-size: 1rem;
  margin: 32px 0 0;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-8 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-6 {
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: 600;
  width: 209px;
  margin: 19px auto 0;
}

.u-section-8 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-7 {
  font-size: 1rem;
  margin: 32px 0 0;
}

.u-section-8 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-list-item-4 {
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-8 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-8 .u-text-8 {
  font-size: 1.375rem;
  text-transform: uppercase;
  font-weight: 600;
  width: 209px;
  margin: 19px auto 0;
}

.u-section-8 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-9 {
  font-size: 1rem;
  margin: 32px 0 0;
}

.u-section-8 .u-btn-8 {
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 208px;
    grid-gap: 11px 11px;
    grid-template-columns: calc(25% - 8.25px) calc(25% - 8.25px) calc(25% - 8.25px) calc(25% - 8.25px);
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-8 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 26px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-8 .u-text-5 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 26px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 23px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-8 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 26px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-top: 23px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-8 .u-text-9 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 26px;
  }

  .u-section-8 .u-btn-8 {
    border-style: none none solid;
    font-size: 0.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    min-height: 494px;
    grid-template-columns: calc(50% - 5.5px) calc(50% - 5.5px);
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    min-height: 700px;
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-repeater-1 {
    min-height: 1211px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 168px;
}

.u-section-9 .u-social-icons-1 {
  height: 30px;
  min-height: 16px;
  width: 310px;
  min-width: 198px;
  margin: 60px auto;
}

.u-section-9 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-9 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-9 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-9 .u-icon-5 {
  height: 100%;
  color: rgb(255, 153, 17) !important;
}

.u-section-9 .u-icon-6 {
  height: 100%;
  color: rgb(66, 171, 240) !important;
}

.u-section-9 .u-icon-7 {
  height: 100%;
  color: rgb(115, 96, 242) !important;
}

.u-section-9 .u-icon-8 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}