 .u-section-1 {
  background-image: url("images/c781f65dbfb5bcef264a7fea68d79ce01cafa8521919c9b32f0337982d071df984efc278e913271883a132eaaeaf94ba0d51c227603391a47e8b4d_1280.jpg");
  background-position: 50% 22.46%;
}

.u-section-1 .u-sheet-1 {
  min-height: 184px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 152px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 87px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 55px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 147px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  width: 309px;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  width: 513px;
  margin: 11px auto 41px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 2874px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  border-style: dotted;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 442px;
  height: 442px;
  margin: 37px auto 0 calc(((100% - 1140px) / 2) + 128px);
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -442px calc(((100% - 1140px) / 2) + 60px) 0 calc(((100% - 1140px) / 2) + 607px);
}

.u-section-3 .u-text-2 {
  margin: 13px calc(((100% - 1140px) / 2) + 60px) 0 calc(((100% - 1140px) / 2) + 608px);
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 441px;
  height: 441px;
  margin: 40px auto 0 calc(((100% - 1140px) / 2) + 129px);
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -441px calc(((100% - 1140px) / 2) + 60px) 0 calc(((100% - 1140px) / 2) + 607px);
}

.u-section-3 .u-text-4 {
  margin: 12px calc(((100% - 1140px) / 2) + 60px) 0 calc(((100% - 1140px) / 2) + 608px);
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 40px calc(((100% - 1140px) / 2) + 62px) 0 calc(((100% - 1140px) / 2) + 605px);
}

.u-section-3 .u-image-3 {
  width: 442px;
  height: 441px;
  margin: -22px auto 0 calc(((100% - 1140px) / 2) + 128px);
}

.u-section-3 .u-text-6 {
  margin: -406px calc(((100% - 1140px) / 2) + 62px) 0 calc(((100% - 1140px) / 2) + 606px);
}

.u-section-3 .u-btn-7 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 441px;
  height: 441px;
  margin: 39px auto 0 calc(((100% - 1140px) / 2) + 129px);
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -440px calc(((100% - 1140px) / 2) + 60px) 0 calc(((100% - 1140px) / 2) + 607px);
}

.u-section-3 .u-text-8 {
  margin: 13px calc(((100% - 1140px) / 2) + 60px) 0 calc(((100% - 1140px) / 2) + 608px);
}

.u-section-3 .u-btn-10 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-11 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-12 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-image-5 {
  width: 442px;
  height: 441px;
  margin: 40px auto 0 calc(((100% - 1140px) / 2) + 128px);
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -440px calc(((100% - 1140px) / 2) + 62px) 0 calc(((100% - 1140px) / 2) + 606px);
}

.u-section-3 .u-text-10 {
  margin: 13px calc(((100% - 1140px) / 2) + 62px) 0 calc(((100% - 1140px) / 2) + 606px);
}

.u-section-3 .u-btn-13 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-14 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-15 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 38px calc(((100% - 1140px) / 2) + 62px) 0 calc(((100% - 1140px) / 2) + 605px);
}

.u-section-3 .u-image-6 {
  width: 441px;
  height: 441px;
  margin: -22px auto 0 calc(((100% - 1140px) / 2) + 129px);
}

.u-section-3 .u-text-12 {
  margin: -407px calc(((100% - 1140px) / 2) + 62px) 52px calc(((100% - 1140px) / 2) + 606px);
}

.u-section-3 .u-btn-16 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-17 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-18 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 36px;
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -16px);
    margin-left: calc(((100% - 940px) / 2) + 483px);
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -16px);
    margin-left: calc(((100% - 940px) / 2) + 484px);
  }

  .u-section-3 .u-image-2 {
    margin-top: 41px;
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -17px);
    margin-left: calc(((100% - 940px) / 2) + 484px);
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -17px);
    margin-left: calc(((100% - 940px) / 2) + 485px);
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -18px);
    margin-left: calc(((100% - 940px) / 2) + 485px);
  }

  .u-section-3 .u-image-3 {
    margin-top: -33px;
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -395px;
    margin-right: calc(((100% - 940px) / 2) + -18px);
    margin-left: calc(((100% - 940px) / 2) + 486px);
  }

  .u-section-3 .u-image-4 {
    margin-top: 40px;
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-3 .u-text-7 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -441px;
    margin-right: calc(((100% - 940px) / 2) + -19px);
    margin-left: calc(((100% - 940px) / 2) + 486px);
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -19px);
    margin-left: calc(((100% - 940px) / 2) + 487px);
  }

  .u-section-3 .u-image-5 {
    height: 440px;
    margin-left: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-3 .u-text-9 {
    font-size: 1.875rem;
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -19px);
    margin-left: calc(((100% - 940px) / 2) + 487px);
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -19px);
    margin-left: calc(((100% - 940px) / 2) + 487px);
  }

  .u-section-3 .u-text-11 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 40px;
    margin-right: calc(((100% - 940px) / 2) + -20px);
    margin-left: calc(((100% - 940px) / 2) + 487px);
  }

  .u-section-3 .u-image-6 {
    margin-top: -34px;
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: -396px;
    margin-right: calc(((100% - 940px) / 2) + -20px);
    margin-left: calc(((100% - 940px) / 2) + 488px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 6186px;
  }

  .u-section-3 .u-image-1 {
    width: 238px;
    height: 238px;
    margin-top: 40px;
    margin-left: calc(((100% - 720px) / 2) + 29px);
  }

  .u-section-3 .u-text-1 {
    margin-top: 203px;
    margin-right: calc(((100% - 720px) / 2) + 314px);
    margin-left: calc(((100% - 720px) / 2) + 43px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 9px;
    margin-right: calc(((100% - 720px) / 2) + 236px);
    margin-left: calc(((100% - 720px) / 2) + 43px);
  }

  .u-section-3 .u-image-2 {
    margin-top: 61px;
    margin-left: calc(((100% - 720px) / 2) + 29px);
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + -17px);
    margin-left: calc(((100% - 720px) / 2) + 374px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + -17px);
    margin-left: calc(((100% - 720px) / 2) + 265px);
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + -18px);
    margin-left: calc(((100% - 720px) / 2) + 265px);
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2) + 28px);
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + -18px);
    margin-left: calc(((100% - 720px) / 2) + 376px);
  }

  .u-section-3 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 29px);
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + -19px);
    margin-left: calc(((100% - 720px) / 2) + 376px);
  }

  .u-section-3 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + -19px);
    margin-left: calc(((100% - 720px) / 2) + 267px);
  }

  .u-section-3 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2) + 28px);
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + -19px);
    margin-left: calc(((100% - 720px) / 2) + 377px);
  }

  .u-section-3 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + -19px);
    margin-left: calc(((100% - 720px) / 2) + 377px);
  }

  .u-section-3 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2) + -20px);
    margin-left: calc(((100% - 720px) / 2) + 377px);
  }

  .u-section-3 .u-image-6 {
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2) + 29px);
  }

  .u-section-3 .u-text-12 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + -20px);
    margin-left: calc(((100% - 720px) / 2) + 378px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 29px);
  }

  .u-section-3 .u-text-1 {
    margin-top: -442px;
    margin-right: calc(((100% - 540px) / 2) + 177px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 99px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 29px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + -17px);
    margin-left: calc(((100% - 540px) / 2) + 284px);
    margin-bottom: initial;
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + -17px);
    margin-left: calc(((100% - 540px) / 2) + 85px);
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + -18px);
    margin-left: calc(((100% - 540px) / 2) + 85px);
  }

  .u-section-3 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 28px);
    margin-bottom: initial;
  }

  .u-section-3 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + -18px);
    margin-left: calc(((100% - 540px) / 2) + 286px);
    margin-bottom: initial;
  }

  .u-section-3 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 29px);
  }

  .u-section-3 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + -19px);
    margin-left: calc(((100% - 540px) / 2) + 286px);
    margin-bottom: initial;
  }

  .u-section-3 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + -19px);
    margin-left: calc(((100% - 540px) / 2) + 87px);
  }

  .u-section-3 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2) + 28px);
  }

  .u-section-3 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + -19px);
    margin-left: calc(((100% - 540px) / 2) + 287px);
    margin-bottom: initial;
  }

  .u-section-3 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2) + -19px);
    margin-left: calc(((100% - 540px) / 2) + 287px);
  }

  .u-section-3 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2) + -20px);
    margin-left: calc(((100% - 540px) / 2) + 287px);
  }

  .u-section-3 .u-image-6 {
    margin-left: calc(((100% - 540px) / 2) + 29px);
    margin-bottom: initial;
  }

  .u-section-3 .u-text-12 {
    margin-right: calc(((100% - 540px) / 2) + -20px);
    margin-left: calc(((100% - 540px) / 2) + 288px);
    margin-bottom: initial;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 5892px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 69px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -383px;
    margin-right: calc(((100% - 340px) / 2) + 110px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: 106px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
    margin: -416px auto 0;
  }

  .u-section-3 .u-text-4 {
    width: 340px;
    margin-top: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: 340px;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 339px;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-6 {
    width: 340px;
    margin: 10px auto 0;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-top: 119px;
    margin-left: auto;
  }

  .u-section-3 .u-text-7 {
    width: 340px;
    margin: -416px auto 0;
  }

  .u-section-3 .u-text-8 {
    width: 340px;
    margin-top: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 338px;
    margin-top: 130px;
    margin-left: auto;
  }

  .u-section-3 .u-text-9 {
    margin: -414px calc(((100% - 340px) / 2) + -14px) 0 calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-10 {
    width: 340px;
    margin-top: 358px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-11 {
    width: 340px;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 340px;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-12 {
    width: 340px;
    margin: 10px auto 30px;
  }
} .u-section-4 {
  min-height: 147px;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  border-style: dotted;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  width: 309px;
  font-weight: 700;
  margin: 37px calc(((100% - 1140px) / 2) + 416px) 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  width: 513px;
  margin: 11px calc(((100% - 1140px) / 2) + 314px) 41px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 316px);
    margin-right: calc(((100% - 940px) / 2) + 316px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 214px);
    margin-right: calc(((100% - 940px) / 2) + 214px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 206px);
    margin-right: calc(((100% - 720px) / 2) + 206px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 104px);
    margin-left: calc(((100% - 720px) / 2) + 104px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 116px);
    margin-right: calc(((100% - 540px) / 2) + 116px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 14px);
    margin-left: calc(((100% - 540px) / 2) + 14px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 16px);
    margin-right: calc(((100% - 340px) / 2) + 16px);
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-5 {
  background-image: none;
  min-height: 737px;
}

.u-section-5 .u-line-1 {
  transform-origin: left center 0px;
  border-style: dotted;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 62px calc(((100% - 1140px) / 2) + 668px) 0 calc(((100% - 1140px) / 2) + 163px);
}

.u-section-5 .u-image-1 {
  width: 215px;
  height: 121px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -33px auto 0 calc(((100% - 1140px) / 2) + 391px);
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: -121px calc(((100% - 1140px) / 2) + 169px) 0 calc(((100% - 1140px) / 2) + 665px);
}

.u-section-5 .u-image-2 {
  width: 215px;
  height: 121px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -84px auto 0 calc(((100% - 1140px) / 2) + 391px);
}

.u-section-5 .u-line-2 {
  width: 808px;
  transform-origin: left center 0px;
  margin: 58px auto 0 calc(((100% - 1140px) / 2) + 163px);
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 43px calc(((100% - 1140px) / 2) + 668px) 0 calc(((100% - 1140px) / 2) + 163px);
}

.u-section-5 .u-image-3 {
  width: 215px;
  height: 121px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -33px auto 0 calc(((100% - 1140px) / 2) + 391px);
}

.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  margin: -121px calc(((100% - 1140px) / 2) + 169px) 0 calc(((100% - 1140px) / 2) + 665px);
}

.u-section-5 .u-image-4 {
  width: 215px;
  height: 121px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -106px auto 54px calc(((100% - 1140px) / 2) + 391px);
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 61px;
    margin-right: 579px;
    margin-left: 152px;
  }

  .u-section-5 .u-image-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    margin-left: 341px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 152px;
    margin-left: 585px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -92px;
    margin-left: calc(((100% - 940px) / 2) + 291px);
  }

  .u-section-5 .u-line-2 {
    width: 737px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 61px;
    margin-right: calc(((100% - 940px) / 2) + 529px);
    margin-left: calc(((100% - 940px) / 2) + 102px);
  }

  .u-section-5 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 291px);
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 99px);
    margin-left: calc(((100% - 940px) / 2) + 535px);
  }

  .u-section-5 .u-image-4 {
    margin-top: -92px;
    margin-bottom: 6px;
    margin-left: calc(((100% - 940px) / 2) + 291px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: 73px;
    margin-right: calc(((100% - 720px) / 2) + 386px);
    margin-left: calc(((100% - 720px) / 2) + 25px);
  }

  .u-section-5 .u-image-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-left: calc(((100% - 720px) / 2) + 210px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 8px);
    margin-left: calc(((100% - 720px) / 2) + 445px);
  }

  .u-section-5 .u-image-2 {
    margin-top: -121px;
    margin-left: calc(((100% - 720px) / 2) + 210px);
  }

  .u-section-5 .u-line-2 {
    width: 687px;
    margin-top: 27px;
    margin-right: calc(((100% - 720px) / 2) + 8px);
  }

  .u-section-5 .u-text-3 {
    margin-top: 59px;
    margin-right: calc(((100% - 720px) / 2) + 386px);
    margin-left: calc(((100% - 720px) / 2) + 25px);
  }

  .u-section-5 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 210px);
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 8px);
    margin-left: calc(((100% - 720px) / 2) + 445px);
  }

  .u-section-5 .u-image-4 {
    margin-top: -143px;
    margin-bottom: 12px;
    margin-left: calc(((100% - 720px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 40px;
    margin-right: 268px;
    margin-left: 64px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 31px;
    margin-left: 64px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2) + 14px);
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-5 .u-image-2 {
    margin-top: -134px;
    margin-left: 64px;
  }

  .u-section-5 .u-line-2 {
    transform-origin: right center 0px;
    width: 513px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 40px;
    margin-right: calc(((100% - 540px) / 2) + 218px);
    margin-left: calc(((100% - 540px) / 2) + 14px);
  }

  .u-section-5 .u-image-3 {
    margin-top: 41px;
    margin-left: calc(((100% - 540px) / 2) + 14px);
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2) + 3px);
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-5 .u-image-4 {
    margin-top: -124px;
    margin-bottom: 0;
    margin-left: calc(((100% - 540px) / 2) + 14px);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: 38px;
    margin-right: calc(((100% - 340px) / 2) + 31px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: 154px;
    height: 86px;
    margin-top: 20px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-2 {
    font-size: 0.625rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-5 .u-image-2 {
    width: 154px;
    height: 86px;
    margin-top: -102px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-line-2 {
    width: 340px;
    margin-top: 56px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 48px;
    margin-right: calc(((100% - 340px) / 2) + 32px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-3 {
    width: 154px;
    height: 86px;
    margin-top: 21px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-4 {
    font-size: 0.625rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-5 .u-image-4 {
    width: 154px;
    height: 86px;
    margin-top: -114px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-6 {
  min-height: 150px;
}

.u-section-6 .u-line-1 {
  transform-origin: left center 0px;
  border-style: dotted;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-social-icons-1 {
  height: 30px;
  min-height: 16px;
  width: 310px;
  min-width: 198px;
  margin: 57px auto 60px;
}

.u-section-6 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-6 .u-icon-5 {
  height: 100%;
  color: rgb(255, 153, 17) !important;
}

.u-section-6 .u-icon-6 {
  height: 100%;
  color: rgb(66, 171, 240) !important;
}

.u-section-6 .u-icon-7 {
  height: 100%;
  color: rgb(115, 96, 242) !important;
}

.u-section-6 .u-icon-8 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}